<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Configuración del documento -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlaces a archivos de estilo externos -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <!-- Enlaces a bibliotecas de Bootstrap y Bootstrap Icons desde un CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Título de la página y favicon -->
    <title>EpicScape | Bienvenido</title>
    <link rel="icon" href="images/logo.png" type="image/x-icon">
</head>

<body>
    <!-- Inclusión del encabezado y la barra de navegación -->
    <!-- Encabezado de la página -->
    <header class="container-fluid container-header flex-sm-row flex-column" id="ch">
        <!-- Columna 2 con el logo y el nombre del sitio -->
        <div class="col-sm d-flex align-items-center mb-3 mb-sm-0">
            <!-- Contenedor para el logo -->
            <div class="mb-1 d-flex">
                <!-- Imagen del logo -->
                <img src="../images/logo.png" class="img img-fluid" alt="Imagen">
            </div>

            <!-- Enlace al inicio con el nombre del sitio como botón -->
            <a href="/" class="btn text-dark border-0">
                <!-- Título del sitio -->
                <h2 class="fst-italic text-sm text-md"><strong>EpicScape</strong></h2>
            </a>
        </div>
        <!-- Columna 3 con el formulario de búsqueda -->
        <div class="col-sm mb-3 mb-sm-0"><!-- Agregamos la clase mb-3 para agregar un margen inferior y mb-sm-0 para evitar el margen inferior en pantallas más grandes -->
            <!-- Formulario de búsqueda -->
            <form id="searchForm" action="/buscar" method="get">
                <!-- Contenedor para la caja de búsqueda y el botón de búsqueda -->
                <div class="buscador input-group">
                    <!-- Caja de búsqueda -->
                    <input id="busquedaGlobal" type="search" class="form-control" placeholder="Próximo destino..." name="nombreBuscar" required>
                    <button class="boton img-fluid" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
        <!-- Columna 4 con el botón de usuario -->
        <div class="col-sm d-flex align-items-center justify-content-end ms-md-auto me-md-0">
            <div class="mb-1">
                <% if (!session.username) { %>
                    <!-- Usuario no autenticado: muestra el botón de login -->
                    <a href="/users/login" class="btn text-dark border-0">
                        <img src="../images/notRegistred.png" alt="Iniciado" class="profile">
                    </a>
                    <% } else { %>
                        <!-- Usuario autenticado: muestra otro ícono o lo que desees -->
                        <button class="btn btn-dark dropdown-toggle p-2" type="button" id="perfilDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../images/persona.png" alt="Iniciado" class="profile">
                        </button>
                        <!-- Menú desplegable del perfil -->
                        <ul class="dropdown-menu" aria-labelledby="perfilDropdown">
                            <li><a class="dropdown-item" href="/users/perfil">Perfil</a></li>
                            <li><a class="dropdown-item" href="/users/reservas_usuario">Reservas</a></li>
                            <li><a id="logoutLink" class="dropdown-item" href="#">Cerrar Sesión</a></li>
                        </ul>
                        <% } %>
            </div>
        </div>
    </header>
    <%- include('nav.ejs') %>

        <!-- Contenido principal -->
        <main class="main-color">
            <!-- Título de la sección de destinos disponibles -->
            <h2 class="text-center p-2 titulo-dest mb-3">DESTINOS DISPONIBLES</h2>

            <!-- Contenedor para los resultados de búsqueda -->
            <div id="searchResultsContainer" class="<%= results.length > 0 ? 'destinos-grid' : '' %>">
                <% if (results.length> 0) { %>
                    <!-- Iteración sobre los resultados para mostrar destinos -->
                    <% results.forEach(function(destino, index) { %>
                        <!-- Enlace a la página del destino -->
                        <a href="/<%= destino.id %>" class="decoration">
                            <!-- Tarjeta de destino -->
                            <div class="card card-destino">
                                <!-- Imagen del destino -->
                                <img src="<%= destino.imagen %>" class="card-img-top" alt="<%= destino.nombre %>">
                                <!-- Cuerpo de la tarjeta -->
                                <div class="card-body">
                                    <!-- Contenido superior de la tarjeta (nombre y precio) -->
                                    <div class="card-top">
                                        <!-- Nombre del destino -->
                                        <p class="card-title"><strong>
                                                <%= destino.nombre %>
                                            </strong></p>
                                        <!-- Precio del destino -->
                                        <h6 class="card-price"><strong>
                                                <%= destino.precio %>€
                                            </strong></h6>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <% }); %>
                            <% } else { %>
                                <!-- Mensaje cuando no hay resultados -->
                                <div class="text-center">
                                    <p>Los destinos que buscas no se encuentran disponibles en este momento.</p>
                                </div>
                                <% } %>
            </div>

        </main>


        <!-- Inclusión del pie de página -->
        <%- include('footer.ejs') %>
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <script src="/javascripts/home.js"></script>
            <script src="/javascripts/reservas.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>