<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Enlaces a las hojas de estilo -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <!-- Título de la página y favicon -->
    <title>EpicScape | Perfil</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
</head>
<body>

    <!-- Inclusión del encabezado y la barra de navegación -->
    <%- include('header.ejs') %>

    <!-- Barra de navegación de migas de pan -->
    <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb" class="border border-1 border-top-0 border-dark breadcrumb-nav">
        <ol class="breadcrumb align-items-center me-auto my-auto">
            <!-- Elementos de las migas de pan -->
            <li class="breadcrumb-item d-flex align-items-center">
                <a href="/" class="text-decoration-none">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Perfil</li>
        </ol>
    </nav>

    <main class="main-color">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mb-0">Perfil de Usuario</h3>
                        </div>
                        <div class="card-body">
                            <!-- Formulario para mostrar y editar los datos del usuario -->
                            <form action="/users/actualizar_perfil" method="post">
                                <% if (mensaje == "El nombre de usuario ya existe.") { %>
                                    <div class="alert alert-danger bg-danger bg-gradient text-black" role="alert">
                                        El nombre de usuario ya existe.
                                    </div>
                                <% } else if(mensaje) { %>
                                    <div class="alert alert-success bg-gradient text-dark" role="alert">
                                        <%= mensaje %>
                                    </div>
                                <% } %>
                                <dl class="row">
                                    <dt class="col-sm-3">Nombre:</dt>
                                    <dd class="col-sm-9">
                                        <input type="text" class="form-control" name="nombre" value="<%= result.nombre %>">
                                    </dd>
        
                                    <dt class="col-sm-3">Apellidos:</dt>
                                    <dd class="col-sm-9">
                                        <input type="text" class="form-control" name="apellidos" value="<%= result.apellidos %>">
                                    </dd>

                                    <dt class="col-sm-3">Nombre de usuario:</dt>
                                    <dd class="col-sm-9">
                                        <input type="text" class="form-control" name="username" value="<%= result.username %>">
                                    </dd>
                                </dl>
        
                                <!-- Botón de enviar cambios -->
                                <div class="justify-content-center d-flex align-content-center">
                                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </main>
    
    <!-- Inclusión del pie de página -->
    <%- include('footer.ejs') %>
    <script src="/javascripts/home.js"></script>
    <!-- Enlaces a los archivos JavaScript de Bootstrap y jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>
