<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Configuración del documento -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlaces a archivos de estilo externos -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/destino.css">
    <!-- Enlaces a bibliotecas de Bootstrap y Bootstrap Icons desde un CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Título de la página y favicon -->
    <title>EpicScape | Reservas</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
</head>

<body>
    <!-- Inclusión del encabezado y la barra de navegación -->
    <%- include('header.ejs') %>

    <!-- Barra de navegación de migas de pan -->
    <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb" class="border border-1 border-top-0 border-dark breadcrumb-nav">
        <ol class="breadcrumb align-items-center me-auto my-auto">
            <!-- Elementos de las migas de pan -->
            <li class="breadcrumb-item d-flex align-items-center">
                <a href="/" class="text-decoration-none">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Reservas</li>
        </ol>
    </nav>
            <!-- Contenido principal -->
            <main class="p-3 main-color">
                <div class="container">
                    <h2 class="text-center p-2 titulo-dest mb-3">TUS RESERVAS</h2>
                    <div class="table-responsive">
                        <% if (results && results.length> 0) { %>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Identificación</th>
                                        <th>Nombre</th>
                                        <th>Fecha Reserva</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% results.forEach(function(reserva) { %>
                                        <tr>
                                            <!-- Celdas de la tabla -->
                                            <td>
                                                <%= reserva.id %>
                                            </td>
                                            <td>
                                                <%= reserva.destino_nombre %>
                                            </td>
                                            <td>
                                                <%= reserva.fecha_reserva %>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-danger btn-eliminar" data-bs-toggle="modal" data-bs-target="#confirmarEliminarReservaModal" onclick="confirmarEliminarReserva('<%= reserva.id %>')">
                                                    <i class="bi bi-trash"></i> Eliminar
                                                </button>                                                
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                            <% } else { %>
                                <p class="text-center">No hay reservas disponibles en este momento.</p>
                                <% } %>
                    </div>
                </div>
            </main>
            <!-- Modal de confirmación para eliminar reserva -->
            <div class="modal fade" id="confirmarEliminarReservaModal" tabindex="-1" aria-labelledby="confirmarEliminarReservaModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmarEliminarReservaModalLabel">Confirmar Eliminación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarModal()"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro de que deseas eliminar esta reserva?
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="cerrarModal()" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <!-- Formulario que envía una solicitud POST al endpoint /reservas_usuario -->
                            <form id="eliminarReservaForm" method="POST">
                                <input type="hidden" name="reservaId" id="reservaIdInput">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Scripts externos -->
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <script src="/javascripts/home.js"></script>
            <script src="/javascripts/reservas.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Inclusión del pie de página -->
            <%- include('footer.ejs') %>
</body>

</html>